.add-form {
  position: relative;

  width: 81.5%;
  margin-top: 20px;
  padding: 20px;

  border: 1px solid grey;
  border-radius: 5px;
}

.add-form__title {
  margin: 0;
  margin-bottom: 20px;
}

.add-form__input {
  width: 70%;
  padding: 5px;
}

.add-form__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.add-form__row:nth-last-child(2) {
  margin-bottom: 20px;
}

.add-form__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;

  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid grey;
  border-radius: 5px;
}

.add-form__button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.add-form__button:active {
  opacity: 0.5;
}

.header__button-close {
  position: absolute;
  top: 5px;
  right: 5px;

  cursor: pointer;
}

.header__button-close:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
