.table {
  width: 100%;
  margin-bottom: 20px;

  border-collapse: collapse;

  border: 1px solid grey;
  border-radius: 5px;
}

.table-th {
  padding: 20px;

  text-align: left;
}

.table-thead .table-th {
  cursor: pointer;
}

.table-td {
  padding: 10px 20px;
}

.table-tbody .table-tr:nth-child(odd) {
  background-color: rgba(220, 232, 231, 0.4);
}

.table-tbody .table-tr {
  cursor: pointer;
}

.table-tbody .table-tr:hover {
  z-index: 2;

  background-color: rgba(255, 212, 212, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.asc,
.desc {
  position: relative;
}

.asc::after,
.desc::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 2;

  width: 0;
  height: 0;
}

.asc::after {
  border-right: 6px solid transparent;
  border-bottom: 10px solid rgba(250, 116, 116, 0.8);
  border-left: 6px solid transparent;
}

.desc::after {
  border-top: 10px solid rgba(0, 0, 0, 0.3);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
