.table {
  width: 100%;

  border-collapse: collapse;

  border: 1px solid grey;
  border-radius: 5px;
}

.table-th {
  padding: 20px;

  text-align: left;
}

.table-td {
  padding: 10px 20px;
}

.table-tbody .table-tr:nth-child(odd) {
  background-color: rgba(220, 232, 231, 0.4);
}

.table-tbody .table-tr {
  cursor: pointer;
}

.table-tbody .table-tr:hover {
  z-index: 2;

  background-color: rgba(255, 212, 212, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
