.pagination {
  display: flex;
  padding: 0;

  list-style: none;
}

.pagination__item {
  margin: 2px;

  font-weight: bold;
  text-align: center;

  border: 1px solid grey;
  border-radius: 5px;
}

.pagination__item:not(.pagination__item--disabled) {
  cursor: pointer;
}

.pagination__item:not(.pagination__item--disabled):hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.pagination__item--active {
  background-color: rgba(220, 232, 231, 1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

.pagination__item--disabled {
  color: lightgrey;

  border: 1px solid lightgrey;
}

.pagination__link {
  display: block;
  min-width: 20px;
  height: 20px;
  padding: 2px;

  outline: none;

  user-select: none;
}

.pagination__link--break {
  outline: none;
  cursor: pointer;

  user-select: none;
}
